<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Freezy Arena Ultralite - Wall</title>
  <link href="static/css/audience.css" rel="stylesheet">
</head>
<body id="wall-disp-body">
  <div id="alert">Timer Ended!</div>
<div id="bottom-container">
  <div id="teams" class="teams-container">
    <div id="red-teams" class="team-group"></div>
    <div id="center-timer">
      <div id="timer" class="timer-display">00:00</div>
      <div id="event-name" class="event-name"></div>
    </div>
    <div id="blue-teams" class="team-group"></div>
  </div>
  </div>
  <audio id="buzzer" src="/static/end.wav" preload="auto"></audio>
  <script src="/static/js/audience.js"></script>
</body>
</html>
